@keyframes bgAnimate{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@mixin font-size($sizeValue) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin ct-m-animate() {
  animation: bgAnimate 70s infinite alternate;
  -webkit-animation: bgAnimate 70s infinite alternate;
  -moz-animation: bgAnimate 70s infinite alternate;
  -o-animation: bgAnimate 70s infinite alternate;
}
@mixin ct-m-transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
}